In [1]:
#importing libraries
import pandas as pd
import plotly
import plotly_express as px
import plotly.io as pio

In [2]:
df = pd.read_csv('C:/Users/shaks/sprint 4 project/sprint_4_proj/vehicles_us.csv')
print(df.head())

   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup         NaN     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

## Changes to make:
model_year, cylinders, odometer, is_4wd = to Int 64

date_posted = to Date time

In [4]:
df["model_year"] = df["model_year"].fillna(0).astype(int)
df["cylinders"] = df["cylinders"].fillna(0).astype(int)
df["odometer"] = df["odometer"].fillna(0).astype(int)
df["is_4wd"] = df["is_4wd"].fillna(0).astype(int)
df["date_posted"] = pd.to_datetime(df["date_posted"])

## Changes to make:
type = SUV to suv

paint_color = NAN to no color

In [5]:
df["type"] = df["type"].str.lower()
df["paint_color"] = df["paint_color"].fillna('no color')
df.head(5)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011,bmw x5,good,6,gas,145000,automatic,suv,no color,1,2018-06-23,19
1,25500,0,ford f-150,good,6,gas,88705,automatic,pickup,white,1,2018-10-19,50
2,5500,2013,hyundai sonata,like new,4,gas,110000,automatic,sedan,red,0,2019-02-07,79
3,1500,2003,ford f-150,fair,8,gas,0,automatic,pickup,no color,0,2019-03-22,9
4,14900,2017,chrysler 200,excellent,4,gas,80903,automatic,sedan,black,0,2019-04-02,28

In [6]:
print(df.duplicated().sum())

0

## Note:

No duplicates

## Sort the data:

Sort data by date time

In [7]:
df = df.sort_values(by="date_posted") #sort by date posted
df = df.reset_index(drop=True)

## Create a new column:

The model column has the manufacter in the name.

Create a new column that will display the company then the model.

In [8]:
company_and_model = df['model'].str.split(' ')
df['company'] = company_and_model.apply(lambda lst: lst[0])
df['model'] = company_and_model.apply(lambda lst: " ".join(lst[1:]))

In [9]:
df['month_posted'] = df['date_posted'].dt.to_period('M')

## Create new df's for different metrics and graphs.

Types of total inventory per month.

average days listed for each type. suv vs coupe vs sedan etc.

scatter plot of days listed vs price